@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

.home {
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.home:hover {
  transform: translate(55px, 0px);
  cursor: pointer;
}
